<aside class="sidebar">
  <style>
    #homeimg {
        display: none;
      }
    @media (max-width: 768px) {
      .hideable {
        display: none;
      }
      .sidebar-nav {
        height: auto;
        display: inline;
        align-items: right;
        text-align: right;
        overflow: visible;
      }
      
      .sidebar-nav li a{
        float: right;
        padding-right: 15px;
      }
      .sidebar-nav summary {
        display: block;
      }
      .sidebar-nav summary::after {
        content: "㆔";
      }
      details[open] > summary::after {
        transform: rotate(90deg);
      }
      .logo {
        width: 100px;
        float: left;
      }
      #homeword {
        display: none;
      }
      #homeimg {
        display: block;
        align-self: center;
      }
    }
  </style>
  <div class="container sidebar-sticky">
    <div class="logo"><a src="{{ .Site.BaseURL }}">
      <img class="hideable" src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" width="250pt" /></a>
    </div>
    <div style="width: 60%; float: right;">
      <nav>
          <ul class="sidebar-nav">
            <li id="homeword"><a href="{{ .Site.BaseURL }}">Home</a> </li>
            {{ range .Site.Menus.main -}}
            <li><a href="{{.URL}}"> {{ .Name }} </a></li>
            {{- end }}
          </ul>
      </nav>
      <div>
      <br><br>
      <p class="hideable">{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}<br>
        </div>
    </div>
  </div>
  
</aside>
